<?xml version="1.0"?>
<settings>
  <profiles>
   <profile>
    <activation><activeByDefault>true</activeByDefault></activation>
    <repositories>
     <repository>
      <id>external-artifacts-root</id>
      <url>https://gitlab.com/api/v4/projects/24621611/packages/maven</url>
      <releases>
       <enabled>true</enabled>
       <updatePolicy>always</updatePolicy>
      </releases>
     </repository>
     <repository>
      <id>3rd-party-artifacts-root</id>
      <url>https://gitlab.com/api/v4/projects/29086607/packages/maven</url>
      <releases>
       <enabled>true</enabled>
       <updatePolicy>always</updatePolicy>
      </releases>
     </repository>
     <repository>
      <id>jitpack</id>
      <url>https://jitpack.io/</url>
      <releases><enabled>true</enabled></releases>
     </repository>
    </repositories>
    <pluginRepositories>
     <pluginRepository>
      <id>external-artifacts-root</id>
      <url>https://gitlab.com/api/v4/projects/24621611/packages/maven</url>
      <releases>
       <enabled>true</enabled>
       <updatePolicy>always</updatePolicy>
      </releases>
     </pluginRepository>
    </pluginRepositories>
   </profile>
  </profiles>
  <servers>
    <server>
      <id>external-artifacts-root</id>
      <configuration>
	<httpHeaders>
	  <property>
	    <name>Private-Token</name>
	    <value>glpat-8bMCnaBHUTUquEdbVwHu</value>
	  </property>
	</httpHeaders>
      </configuration>
    </server>
    <server>
      <id>3rd-party-artifacts-root</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Private-Token</name>
            <value>glpat-8bMCnaBHUTUquEdbVwHu</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings>
